<!DOCTYPE html>
<html>
<head>
  <title>FlockBackend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
  <script type="text/javascript">
    Parse.initialize("qtPnuzn38Stuo5olj3BQ7R2QcLGQNADRoNL89F1U", "eYdLkgKXyyLTu1rIXdpUxsjUs3jso2vk541KKblM");
  </script>

<%= yield %>

</body>
</html>
